@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

.btn-theme {
    @apply bg-orange-500 border-0 text-white px-8 rounded-full;
}

.btn-theme:hover {
    @apply bg-orange-600;
}

.btn-review {
    @apply bg-orange-500 border-0 text-white;
}

.btn-review:hover {
    @apply bg-orange-600;
}

.logo-title {
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 16px;
}

.font-theme {
    font-family: 'Alegreya Sans', sans-serif;
}